<form class="imp-counter-form" autocomplete="off">
  <section class="imp-counter-card {{#unless canEdit}}is-locked{{/unless}}">
    <div class="imp-counter-meta">
      <span class="imp-counter-caption">{{label}}</span>
      <div class="imp-counter-meta-actions">
        <button type="button" class="imp-counter-window-action" data-action="close" title="{{closeTitle}}">
          <i class="fas fa-xmark"></i>
        </button>
      </div>
    </div>

    <input class="imp-counter-value" type="number" step="1" value="{{value}}" {{#unless canEdit}}disabled{{/unless}}>

    <div class="imp-counter-controls">
      <button type="button" class="imp-counter-step" data-delta="-1" title="{{minusTitle}}" {{#unless canEdit}}disabled{{/unless}}>-</button>
      <button type="button" class="imp-counter-step" data-delta="1" title="{{plusTitle}}" {{#unless canEdit}}disabled{{/unless}}>+</button>
    </div>
  </section>
</form>
